<h3>Enter a number</h3>

<form action="/square/results">
<label for="user_num">What number do you want to enter</label>

<input id="user_num" type="text" name="users_number">

<button>Calculate square</button>
</form>
