<form action="/random/results">

<label for="minimum_num">Minimum</label>
<input id="minimum_num" type="text" name="minimum" placeholder = "E.g. 1.5">

<label for="maximum_num">Maximum</label>
<input id="maximum_num" type="text" name="maximum" placeholder = "E.g. 4.5">

<button>Pick random number</button>
</form>
