<p>Enter a number</p>

<form action="/square/results">
<label for="square_num"></label>

<input id="square_num" type="text" name="square_number" placeholder = "What number do you want to take the square of?">

<button>Calculate square</button>
</form>
