<p>Enter a number</p>

<form action="/square/results">
<label for="user_num"></label>

<input id="user_num" type="text" name="users_number" placeholder = "What number do you want to take the square of?">

<button>Calculate square</button>
</form>
