<form action="/payment/results">

<label for="APR_num">APR</label>
<input id="APR_num" type="text" name="APR" placeholder = "E.g. 5.42">

<label for="years_num">Years</label>
<input id="years_num" type="text" name="Number of years" placeholder = "How many years to repay?">

<label for="principal_num">Principal</label>
<input id="principal_num" type="text" name="principal" placeholder = "How much principal?">

<button>Calculate monthly payment</button>
</form>
